.editor-styles-wrapper .grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  -webkit-margin-before: 0;
          margin-block-start: 0;
}
@media (min-width: 980px) {
  .editor-styles-wrapper .max-height--300px {
    height: 32vh;
  }
}
.editor-styles-wrapper .expand-horizontal--two-col__left {
  grid-column: 1/3;
}
.editor-styles-wrapper .expand-horizontal--two-col__right {
  grid-column: 3/5;
}
.editor-styles-wrapper .expand-horizontal--two-col__center {
  grid-column: 2/4;
}
.editor-styles-wrapper .expand-vertical {
  grid-row: 2/4;
}
.editor-styles-wrapper .grid-item {
  position: relative;
}
.editor-styles-wrapper .banner {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  width: calc(100% - 2rem);
  text-align: center;
}
.editor-styles-wrapper .caption {
  bottom: 0;
  right: 0;
  padding: 1rem;
}
.editor-styles-wrapper .bg-yellow {
  background-color: var(--wp--preset--color--gold);
}
.editor-styles-wrapper .font--semibold {
  font-weight: 600;
}
.editor-styles-wrapper .align-items-center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.editor-styles-wrapper img {
  max-width: 100%;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 480px) {
  .editor-styles-wrapper .max-height--300px {
    max-height: 200px;
  }
  .editor-styles-wrapper .full-width-on-mobile {
    grid-column: 1/5;
  }
  .editor-styles-wrapper .expand-horizontal-on-mobile--two-col__left {
    grid-column: 1/3;
  }
  .editor-styles-wrapper .expand-horizontal-on-mobile--two-col__right {
    grid-column: 3/5;
  }
}
.editor-styles-wrapper body {
  font-family: "myriad-pro", sans-serif;
  font-weight: 400;
}
.editor-styles-wrapper body * {
  font-family: "myriad-pro", sans-serif;
}
.editor-styles-wrapper .text-align-center {
  text-align: center;
}
.editor-styles-wrapper .font-style--italic {
  font-style: italic;
}
.editor-styles-wrapper p {
  letter-spacing: -0.015em;
}
.editor-styles-wrapper .logo-container .site-logo--container {
  width: 100%;
  max-width: 375px;
}
.editor-styles-wrapper .logo-container .wp-block-site-logo a {
  display: block;
}
@media (max-width: 880px) {
  .editor-styles-wrapper .logo-container .wp-container-core-group-layout-4.wp-container-core-group-layout-4 {
    justify-content: center;
    gap: 2rem;
  }
  .editor-styles-wrapper .logo-container .site-logo--container {
    order: -1;
    flex-basis: 100%;
    max-width: 100%;
  }
  .editor-styles-wrapper .logo-container > .wp-container-core-group-layout-2.wp-container-core-group-layout-2 {
    flex-wrap: wrap;
  }
  .editor-styles-wrapper .logo-container .wp-block-site-logo {
    width: 100%;
    max-width: 300px;
    margin-inline: auto;
  }
}
@media (max-width: 480px) {
  .editor-styles-wrapper .logo-container .dal-logo > img,
.editor-styles-wrapper .logo-container .ohiou-logo > img {
    width: 130px !important;
  }
}
.editor-styles-wrapper .buried-bridges--footer {
  background: url(../img/textures/Brushed-metal-light.jpg) no-repeat center center scroll;
  background-size: cover;
  background-position: top -150px center;
}
@media (max-width: 980px) {
  .editor-styles-wrapper .buried-bridges--footer p {
    flex-basis: 100%;
    text-align: center;
  }
  .editor-styles-wrapper .buried-bridges--footer .wp-container-core-group-layout-6.wp-container-core-group-layout-6 {
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .editor-styles-wrapper .buried-bridges--footer {
    background-position: top center;
  }
  .editor-styles-wrapper .buried-bridges--footer .wp-block-image {
    flex-basis: 100%;
    text-align: center;
  }
  .editor-styles-wrapper .buried-bridges--footer.top-bottom-padding--20 {
    padding-block: var(--wp--preset--spacing--50);
  }
}
.editor-styles-wrapper footer {
  -webkit-margin-before: 0;
          margin-block-start: 0;
}