.main-navigation ul.wp-block-page-list {
  padding-block: 0;
}
.main-navigation a {
  font-weight: 600;
  font-size: 20px;
}
.main-navigation button:not(.wp-block-navigation__responsive-container-close) {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  text-align: center;
  margin-inline: auto;
  justify-content: center;
}
@media (max-width: 599px) {
  .main-navigation button:not(.wp-block-navigation__responsive-container-close) {
    display: flex;
  }
}
.main-navigation .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation__container,
.main-navigation .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation__submenu-container {
  row-gap: 1rem;
}

ul.main-navigation {
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin-block-start: 0;
}

@media (min-width: 980px) {
  .max-height--300px {
    height: 300px;
  }
}
@media (min-width: 1920px) {
  .max-height--300px {
    height: 32vh;
  }
}
.expand-horizontal--two-col__left {
  grid-column: 1/3;
}

.expand-horizontal--two-col__right {
  grid-column: 3/5;
}

.expand-horizontal--two-col__center {
  grid-column: 2/4;
}

.expand-vertical {
  grid-row: 2/4;
}

.grid-item {
  position: relative;
  box-sizing: border-box;
}

.caption {
  bottom: 0;
  right: 0;
  padding: 1rem;
}

.bg-yellow {
  background-color: var(--wp--preset--color--gold);
}
.bg-yellow p:first-of-type {
  margin-block-start: 0;
}
.bg-yellow p:last-of-type {
  margin-block-end: 0;
}
@media (max-width: 1600px) {
  .bg-yellow .has-x-large-font-size {
    font-size: 30px !important;
  }
}
@media (max-width: 1100px) {
  .bg-yellow .has-x-large-font-size {
    line-height: 1.35em;
  }
}
@media (max-width: 880px) {
  .bg-yellow .has-x-large-font-size {
    font-size: 22px !important;
  }
  .bg-yellow.padding--40 {
    padding: var(--wp--preset--spacing--50);
  }
}

.font--semibold {
  font-weight: 600;
}

.align-items-center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

img {
  max-width: 100%;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 480px) {
  .max-height--300px {
    max-height: 200px;
  }
  .full-width-on-mobile {
    grid-column: 1/5;
  }
  .expand-horizontal-on-mobile--two-col__left {
    grid-column: 1/3;
  }
  .expand-horizontal-on-mobile--two-col__right {
    grid-column: 3/5;
  }
}
body {
  font-family: "myriad-pro", sans-serif;
  font-weight: 400;
}
body * {
  font-family: "myriad-pro", sans-serif;
}

.text-align-center {
  text-align: center;
}

.font-style--italic {
  font-style: italic;
}

p {
  letter-spacing: -0.015em;
}

.top-bottom-padding--20 {
  padding-block: var(--wp--preset--spacing--20);
}

.top-bottom-padding--30 {
  padding-block: var(--wp--preset--spacing--30);
}

.top-bottom-padding--40 {
  padding-block: var(--wp--preset--spacing--40);
}

.top-padding--20 {
  padding-block-start: var(--wp--preset--spacing--20);
}

.top-padding--30 {
  padding-block-start: var(--wp--preset--spacing--30);
}

.top-padding--40 {
  padding-block-start: var(--wp--preset--spacing--40);
}

.bottom-padding--20 {
  padding-block-end: var(--wp--preset--spacing--20);
}

.bottom-padding--30 {
  padding-block-end: var(--wp--preset--spacing--30);
}

.bottom-padding--40 {
  padding-block-end: var(--wp--preset--spacing--40);
}

.padding--20 {
  padding: var(--wp--preset--spacing--20);
}

.padding--30 {
  padding: var(--wp--preset--spacing--30);
}

.padding--40 {
  padding: var(--wp--preset--spacing--40);
}

.max-width--550 {
  margin-inline: auto;
  max-width: 550px;
}

.max-width--800 {
  margin-inline: auto;
  max-width: 800px;
}

.wp-site-blocks {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.wp-site-blocks footer {
  margin-top: auto;
}

.max-width--900 {
  margin-inline: auto;
}
@media (min-width: 1920px) {
  .max-width--900 {
    max-width: 80%;
  }
}
@media (max-width: 980px) {
  .max-width--900 {
    max-width: 100%;
  }
}

.buried-bridges--footer {
  background: url(../img/textures/Brushed-metal-light.jpg) no-repeat center center scroll;
  background-size: cover;
  background-position: top -150px center;
}
@media (max-width: 980px) {
  .buried-bridges--footer p {
    flex-basis: 100%;
    text-align: center;
  }
  .buried-bridges--footer .wp-container-core-group-layout-6.wp-container-core-group-layout-6 {
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .buried-bridges--footer {
    background-position: top center;
  }
  .buried-bridges--footer .wp-block-image {
    flex-basis: 100%;
    text-align: center;
  }
  .buried-bridges--footer.top-bottom-padding--20 {
    padding-block: var(--wp--preset--spacing--50);
  }
}

footer {
  margin-block-start: 0;
}

.logo-container .site-logo--container {
  width: 100%;
  max-width: 375px;
}
.logo-container .wp-block-site-logo a {
  display: block;
}
@media (max-width: 880px) {
  .logo-container .wp-container-core-group-layout-4.wp-container-core-group-layout-4 {
    justify-content: center;
    gap: var(--wp--preset--spacing--40);
  }
  .logo-container .site-logo--container {
    order: -1;
    flex-basis: 100%;
    max-width: 100%;
  }
  .logo-container > .wp-container-core-group-layout-2.wp-container-core-group-layout-2 {
    flex-wrap: wrap;
  }
  .logo-container .wp-block-site-logo {
    width: 100%;
    max-width: 300px;
    margin-inline: auto;
  }
}
@media (max-width: 480px) {
  .logo-container .dal-logo > img,
  .logo-container .ohiou-logo > img {
    width: 130px !important;
  }
}

.mobile-only {
  display: none;
}
@media (max-width: 960px) and (orientation: landscape) {
  .mobile-only {
    display: block;
  }
}
@media (max-width: 480px) {
  .mobile-only {
    display: block;
  }
}

@media (max-width: 960px) and (orientation: landscape) {
  .desktop-only {
    display: none;
  }
}
@media (max-width: 480px) {
  .desktop-only {
    display: none;
  }
}

.data-table table {
  max-width: 500px;
}
.data-table td {
  white-space: nowrap;
  padding-bottom: 1em;
}

.auto-width-table table {
  width: auto;
}

.auto-width-table td {
  padding: 0;
}

.auto-width-table td:nth-of-type(even) {
  padding-left: 1rem;
}

body:not(.page-id-70, .page-id-66) .grecaptcha-badge {
  display: none;
}

.keywords-select {
  width: 100%;
  padding: 0.5rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTAwMCAxMDAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KICA8cGF0aCBmaWxsPSJncmF5IiBkPSJNMTAsMjMyLjdsNDkwLDUzNC41bDQ5MC01MzQuNUgxMHoiIC8+DQo8L3N2Zz4=);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px;
}