.buried-bridges--footer {
  background: url(../img/textures/Brushed-metal-light.jpg) no-repeat center
    center scroll;
  background-size: cover;
  background-position: top -150px center;
}

footer {
  margin-block-start: 0;
}
