.buried-bridges--footer {
  background: url(../img/textures/Brushed-metal-light.jpg) no-repeat center
    center scroll;
  background-size: cover;
  background-position: top -150px center;
  @media (max-width: 768px) {
    p {
      flex-basis: 100%;
      text-align: center;
    }
    .wp-container-core-group-layout-6.wp-container-core-group-layout-6 {
      justify-content: center;
    }
  }
  @media (max-width: 480px) {
    background-position: top center;
  }
}

footer {
  margin-block-start: 0;
}
