.keywords-select {
	width: 100%;
	padding: .5rem;
	appearance: none;
  background-color: transparent;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTAwMCAxMDAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KICA8cGF0aCBmaWxsPSJncmF5IiBkPSJNMTAsMjMyLjdsNDkwLDUzNC41bDQ5MC01MzQuNUgxMHoiIC8+DQo8L3N2Zz4=);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px;
  font-size: var(--wp--preset--font-size--medium);
  border-radius: 50px;
}