.logo-container {
  .site-logo--container {
    width: 100%;
    max-width: 375px;
  }
  .wp-block-site-logo a {
    display: block;
  }
  @media (max-width: 880px) {
    .wp-container-core-group-layout-4.wp-container-core-group-layout-4 {
      justify-content: center;
      gap: $spacing40;
    }
    .site-logo--container {
      order: -1;
      flex-basis: 100%;
      max-width: 100%;
    }
    > .wp-container-core-group-layout-2.wp-container-core-group-layout-2 {
      flex-wrap: wrap;
    }
    .wp-block-site-logo {
      width: 100%;
      max-width: 300px;
      margin-inline: auto;
    }
  }
  @media (max-width: 480px) {
    .dal-logo,
    .ohiou-logo {
      > img {
        width: 130px !important;
      }
    }
  }
}

.mobile-only {
  display: none;
  @media (max-width: 960px) and (orientation: landscape) {
    display: block;
  }
}

.desktop-only {
  @media (max-width: 960px) and (orientation: landscape) {
    display: none;
  }
}
