.logo-container {
  @media (max-width: 768px) {
    .wp-container-core-group-layout-4.wp-container-core-group-layout-4 {
      justify-content: center;
      gap: 2rem;
    }
    .site-logo--container {
      order: -1;
      flex-basis: 100%;
    }
  }
  @media (max-width: 480px) {
    .dal-logo,
    .ohiou-logo {
      > img {
        width: 130px !important;
      }
    }
    .wp-block-site-logo {
      width: 100%;
      a {
        display: block;
      }
    }
  }
}
