// COLOURS
$brandGold: var(--wp--preset--color--gold);
$brandGreen: var(--wp--preset--color--green);

// SPACING
$spacing20: var(--wp--preset--spacing--20);
$spacing30: var(--wp--preset--spacing--30);
$spacing40: var(--wp--preset--spacing--40);
